<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Product List
    </div>
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" href="/product/create">
          <i class="glyphicon glyphicon-open"></i> New Product
        </a>
      </div>

      <table ng-table="vm.tableParams" show-filter="true" class="table table-condensed table-striped">
          <tr ng-repeat="product in $data">
              <td data-title="'Description'" sortable="'description'" filter="{ 'description': 'text' }">{{product.description}}</td>
              <td data-title="'Price'" sortable="'price'" filter="{'price': 'text'}">{{product.price}}</td>
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" href="/product/{{product.id}}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" href="/product/{{product.id}}/edit">
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(product)" item="product">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
